@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prevent zooming */
html {
  touch-action: manipulation;
  -ms-touch-action: manipulation;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

/* Prevent text selection zoom trigger */
* {
  -webkit-touch-callout: none;
}

/* Enable text selection for inputs */
input, textarea {
  -webkit-touch-callout: text;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
